<div class="wrapper">
  <div class="container movies-container">
    <h3 class="text-center">Welcome <%= @user.username %> ! Please discover all of our amazing movies:</h3>
    <div class="row text-center">
      <% @search_results.each do |result| %>
        <% if params[:query].present? %>
          <div class="col-md-4">
            <% if result.searchable_type == 'User' %>
             <div class="card-user card-movie">
                <%= cl_image_tag result.searchable.avatar, width: 320, height: 175, crop: :fill %>
                <p id="movie-title"><%= result.searchable.username %></p>
                <p id="movie-title-user">(movie uploader)</p>
                <%= link_to '', movie_path(result), class: 'card-link' %>
             </div>
            <% else  %>
              <div class="card-movie">
                <%= link_to movie_path(result.searchable), {class: 'card-link'} do %>
                <%= cl_image_tag result.searchable.cover, width: 320, height: 175, crop: :thumb, gravity: :face %>
                <div class="card-movie-elements">
                  <p id="movie-title"><%=h truncate(result.searchable.title, :length => 25) %></p>
                  <p>Duration: <%= result.searchable.duration %></p>
                  <div class="same-line">
                    <span class="stars"><%= result.searchable.rating&.fdiv(2) %></span>
                    <p><%= result.searchable.price %>€</p>
                  </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="col-md-4">
            <div class="card-movie">
              <%= link_to movie_path(result), {class: 'card-link'} do  %>
                <%= cl_image_tag result.cover, width: 320, height: 175, crop: :thumb, gravity: :face %>
                <div class="card-movie-elements">
                  <p id="movie-title"><%=h truncate(result.title, :length => 25) %></p>
                  <p> Duration: <%= result.duration %></p>
                  <div class="same-line">
                    <span class="stars"><%= result.rating&.fdiv(2) %></span>
                    <p><%= result.price %>€</p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


