

<div class="wrapper">
  <div class="container movies-container">
    <h3 class="text-center">Welcome <%= @user.username %> ! Please discover all of our amazing movies:</h3>

    <div class="row text-center">
      <% @movies.each do |movie| %>
        <div class="col-md-4">
          <div class="card-movie">
            <%= cl_image_tag movie.cover, height: 300, width: 150, crop: :fill %>
            <p><%= movie.title %></p>
            <p><%= movie.duration %></p>
            <p>Directed by: <%= movie.director %></p>
            <%= link_to "", movie_path(movie), class: 'card-link' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
