<div class="wrapper">
  <div class="container movies-container">
    <h3 class="text-center">Welcome <%= @user.username %> ! Please discover all of our amazing movies:</h3>
    <div class="row text-center">
      <% @search_results.each do |result| %>
        <% if params[:query].present? %>
          <div class="col-md-4">
            <% if result.searchable_type == 'User' %>
             <div class="card-user">
                <%= cl_image_tag result.searchable.avatar, height: 300, width: 150, crop: :fill %>
                <p><%= result.searchable.username %></p>
                <%= link_to '', movie_path(result), class: 'card-link' %>
             </div>
            <% else  %>
              <div class="card-movie">
                <%= cl_image_tag result.searchable.cover, width: 320, height: 175, crop: :thumb, gravity: :face %>
                <p><%= result.searchable.title %></p>
                <p><%= result.searchable.duration %></p>
                <p>Directed by: <%= result.searchable.director %></p>
                <%= link_to '', movie_path(result), class: 'card-link' %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="col-md-4">
            <div class="card-movie">
              <%= cl_image_tag result.cover, width: 320, height: 175, crop: :thumb, gravity: :face %>
              <div class="card-movie-elements">
                <p id="movie-title"><%=h truncate(result.title, :length => 25) %></p>
                <p> Duration: <%= result.duration %></p>
                <div class="same-line">
                  <span class="stars"><%= result.rating&.fdiv(2) %></span>
                  <p><%= result.price %>€</p>
                </div>
              </div>
            <%= link_to "", movie_path(result), class: 'card-link' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


