<h1 class="text-center"> My Movies</h1>

<div class="wrapper">
  <div class="container movies-container">
    <div class="row text-center">
      <% @movies.each do |movie| %>
        <div class="col-md-4">
          <div class="card-movie">
            <%= cl_image_tag movie.cover, height: 300, width: 150 , crop: :limit %>
            <p><%= movie.title %></p>
            <p><%= movie.duration %></p>
            <p>Directed by: <%= movie.director %></p>
            <div class="flexedit">
              <p class="fixed-bottom-left"><%= link_to 'Edit', edit_movie_path(movie) %></p>
              <p class="fixed-bottom-center">
              <p class="fixed-bottom-right"><%= link_to 'Delete', movie_path(movie), method: :delete, data: { confirm: "Are you sure?" }  %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="flexedit">
  <p class="fixed-bottom-center"> <%= link_to 'Add a movie', new_movie_path, :class => "btn btn-primary text-center"  %> </p>
</div>
