<div class="wrapper">

  <div class="container">

    <div class="profile-header">
      <div><h1>My Movies</h1></div>
      <div class="profile-header-children"> <%= link_to 'Upload a movie', new_movie_path, :class => "btn btn-danger"  %></div>
    </div>

    <div class="container movies-container">
      <div class="row text-center">
        <% @movies.each do |movie| %>
          <div class="col-md-4">
            <div class="card-movie">
              <%= link_to movie_path(movie), {class: 'card-link'} do  %>
                <%= cl_image_tag movie.cover, width: 320, height: 175, crop: :thumb, gravity: :face %>
                <div class="card-movie-elements">
                  <p id="movie-title"><%=h truncate(movie.title, :length => 25) %></p>
                  <p> Duration: <%= movie.duration %></p>
                  <div class="same-line">
                    <span class="stars"><%= movie.rating/2 %></span>
                    <p><%= movie.price %>€</p>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="flexedit">
              <p class="fixed-bottom-left"><%= link_to '', edit_movie_path(movie), :class => "fas fa-pencil-alt btn-alice" %></p>
              <p class="fixed-bottom-right"><%= link_to '', movie_path(movie), method: :delete, data: { confirm: "Are you sure?" }, :class => "fas fa-trash-alt btn-alice"  %></p>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>

</div>






