<div class="wrapper">

  <div class="container">
    <div class="profile-header">
      <div><h3>My purchases:</h3></div>
      <div class="profile-header-children"> </div>
    </div>

    <div class="container movies-container">
      <div class="row text-center">
        <% @movies.each do |movie| %>
          <div class="col-md-4">
            <div class="card-movie">
              <%= link_to movie_path(movie), {class: 'card-link'} do  %>
                <%= cl_image_tag movie.cover, width: 320, height: 175, crop: :thumb, gravity: :face %>
                <div class="card-movie-elements">
                  <p id="movie-title"><%=h truncate(movie.title, :length => 25) %></p>
                  <p> Duration: <%= movie.duration %></p>
                  <div class="same-line">
                    <span class="stars"><%= movie.rating/2 %></span>
                    <p><%= movie.price %>€</p>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="flexedit fixed-bottom-left">
              <%= link_to 'Add a review',  new_movie_review_path(movie), :class => "btn btn-danger" %>
            </div>
          </div>
        <% end %>
      </div>

    </div>

  </div>

</div>
