<div class="wrapper">
  <div class="container">


    <div class="cover row justify-content-md-center">
      <div class="col col-lg-5">
        <%= cl_image_tag @movie.cover, height: 600, width: 300, crop: :limit %>
      </div>

      <div class="card-movie-detail col-lg-7">
        <p> <%= @movie.title %>
        (<%= @movie.release_date %>)
        (uploaded by <%= @movie.user.username %>)
        </p>
        <p><%= @movie.duration %></p>
        <p>Director : <%= @movie.director %></p>
        <p><%= @movie.description %></p>


      </div>
    </div>



    <div class="row">
      <div class="buy-space col col-lg-4">
        <% if @movie.user == @user || @movie_rented.include?(@movie) %>
          <%= link_to 'Watch this movie', '#', class: "btn btn-danger btn-lg btn-block" %>
        <% else %>
          <%= link_to 'Buy this movie' , movie_rentings_path(@movie), method: "post", class: "btn btn-danger btn-lg btn-block" %>
        <% end %>
      </div>

      <div class="col-lg-8">
      </div>
    </div>
  </div>

</div>

<div class="footer">

</div>

