<div class="wrapper">
  <div class="container">

    <div class="header">
      <h1>Attila</h1>

    </div>

    <div class="banner">
      <div class="banner-content">
        <h3><span id="banner-typed-text"></span></h3>
        <%= link_to "See all movies", movies_path, class: "btn btn-danger btn-lg" %>
      </div>
    </div>

    <div class="row text-center">
      <% @movies.each do |movie| %>
        <div class="col-md-4">
          <div class="card-movie">
            <%= cl_image_tag movie.cover, height: 300, width: 150, crop: :fill %>
            <p><%= movie.title %></p>
            <p><%= movie.duration %></p>
            <p>Directed by: <%= movie.director %></p>
            <%= link_to "", movie_path(movie), class: 'card-link' %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
